@import url(../css/variables-BUY.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: "Inter_18pt-Medium";
}

h1 {
   font-family: "Inter_18pt-SemiBold";
}

#pF {
    color: #706D6D;
}
.hrLine {
    color: #675E5E;
}

.bacground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: var(--ColorFond);
    background-repeat: no-repeat;
    height: 100%;
    z-index: -1;
}

.div__nav {
    position: fixed;
    width: 343px;
    height: 34px;
    top: 35px;
    left: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.buttonAtras { 
    width: 34px;
    height: 34px;
}
.buttonMenu {
    width: 16px;
    height: 4px;
}


.carousel {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    height: 555px;
    width: 100%;
    position: absolute;
    top: 115px;
    left: 22px;

    
    & > .carousel-item {
      flex: 1;
      flex-grow: 1;
      margin: 0 5px;
      width: 343.5px;
      height: 535px;
    }
}


.div_infomacion {
    position: absolute;
    width: 339.5px;
    height: 529px;
    top: -1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img__card {
    width: 343.5px;
    height: 530px;
}
.img__baner {
    width: 308px;
    height: 159px;
    padding-left: 8.5px;
    padding-right: 8.5px;
    padding-top: 18px;
}

.div__infoEvent {
    width: 292px;
    height: 241px;
}

.div__title {
    width: 292px;
    height: 65px;
    padding-top: 16px;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.div__title h1 {
    font-size: 18px;
}
.div__ubiEvent p {
    font-size: 12px;
}
.div__boxInfo {
    width: 282px;
    height: 156px;
    position: relative;
    top: 20px;
    gap: 24px;
    display: flex;
    flex-direction: column;
}
.div__infoUser {
    width: 292px;
    height: 36px;
    display: flex;
    justify-content: space-between;
}
.div__infName {
    width: 140px;
    height: 36px;
    display: flex;
    flex-direction: column;

    p {
        width: 34px;
        height: 15px;
        font-size: 12px;
    }

    h1 {
        width: 113px;
        height: 17px;
        font-size: 14px;
    }
}

.div__infNumber {
    width: 90px;
    height: 36px;
    display: flex;
    flex-direction: column;

    p {
        width: 82px;
        height: 15px;
        font-size: 12px;
    }

    h1 {
        width: 90px;
        height: 17px;
        font-size: 14px;
    }
}

.img__codeBarras {
    width: 270px;
    height: 64px;
    position: absolute;
    top: 430px;
}
.p__bajo {
    width: 209px;
    height: 15px;
    position: absolute;
    font-size: 12px;
    top: 505px;
    left: 20%;
}
.img__baner {
    border-radius: 25px;
}