<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/stylesTickets.css">
    <title>Tickets</title>
</head>
<body>
    <div class="bacground"></div>

    <div class="div__nav">
        <img class="buttonAtras" src="../storage/img/haciaAtras.png" >
        <img class="buttonMenu" src="../storage/img/tresPuntos.png">
    </div>

    <div class="carousel">
        <div class="carousel-item">
            <img class="img__card" src="../storage/img/ticket2_Mesa de trabajo 1 copia.png">
            <div class="div_infomacion">
                <img class="img__baner" src="../storage/img/RectangleBaner.png">
                <div class="div__infoEvent">
                    <div class="div__title">
                        <h1>Coldplay : Music of the Spheres</h1>
                        <div class="div__ubiEvent" >
                            <p id="pF">Nov 15 2023 ~ Gelora Bung Karno Stadium, Jakarta</p>
                            <hr class="hrLine">
                        </div>
                    </div>
                    <div class="div__boxInfo"> 
                        <div class="div__infoUser">
                            <div class="div__infName">
                                <p>Name</p>
                                <h1>Indriyani Puspita</h1>
                            </div>
                            <div class="div__infNumber">
                                <p>Order Number</p>
                                <h1>CLD09738PL</h1>
                            </div>
                        </div>
                        <div class="div__infoUser">
                            <div class="div__infName">
                                <p>Date</p>
                                <h1>Nov 15 2023</h1>
                            </div>
                            <div class="div__infNumber">
                                <p>Time</p>
                                <h1>9:00 PM</h1>
                            </div>
                        </div>
                        <div class="div__infoUser">
                            <div class="div__infName">
                                <p>Gate</p>
                                <h1>Yellow</h1>
                            </div>
                            <div class="div__infNumber">
                                <p>Seat</p>
                                <h1>West B</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="img__codeBarras" src="../storage/img/codeBarras].png">
                <p class="p__bajo">Scan your barcode at the entry gate.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="img__card" src="../storage/img/ticket2_Mesa de trabajo 1 copia.png">
            <div class="div_infomacion">
                <img class="img__baner" src="../storage/img/RectangleBaner.png">
                <div class="div__infoEvent">
                    <div class="div__title">
                        <h1>Coldplay : Music of the Spheres</h1>
                        <div class="div__ubiEvent" >
                            <p>Nov 15 2023 ~ Gelora Bung Karno Stadium, Jakarta</p>
                            <hr class="hrLine">
                        </div>
                    </div>
                    <div class="div__boxInfo"> 
                        <div class="div__infoUser">
                            <div class="div__infName">
                                <p>Name</p>
                                <h1>Indriyani Puspita</h1>
                            </div>
                            <div class="div__infNumber">
                                <p>Order Number</p>
                                <h1>CLD09738PL</h1>
                            </div>
                        </div>
                        <div class="div__infoUser">
                            <div class="div__infName">
                                <p>Date</p>
                                <h1>Nov 15 2023</h1>
                            </div>
                            <div class="div__infNumber">
                                <p>Time</p>
                                <h1>9:00 PM</h1>
                            </div>
                        </div>
                        <div class="div__infoUser">
                            <div class="div__infName">
                                <p>Gate</p>
                                <h1>Yellow</h1>
                            </div>
                            <div class="div__infNumber">
                                <p>Seat</p>
                                <h1>West B</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="img__codeBarras" src="../storage/img/codeBarras].png">
                <p class="p__bajo">Scan your barcode at the entry gate.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="img__card" src="../storage/img/ticket2_Mesa de trabajo 1 copia.png">
            <div class="div_infomacion">
                <img class="img__baner" src="../storage/img/RectangleBaner.png">
                <div class="div__infoEvent">
                    <div class="div__title">
                        <h1>Coldplay : Music of the Spheres</h1>
                        <div class="div__ubiEvent" >
                            <p>Nov 15 2023 ~ Gelora Bung Karno Stadium, Jakarta</p>
                            <hr class="hrLine">
                        </div>
                    </div>
                    <div class="div__boxInfo"> 
                        <div class="div__infoUser">
                            <div class="div__infName">
                                <p>Name</p>
                                <h1>Indriyani Puspita</h1>
                            </div>
                            <div class="div__infNumber">
                                <p>Order Number</p>
                                <h1>CLD09738PL</h1>
                            </div>
                        </div>
                        <div class="div__infoUser">
                            <div class="div__infName">
                                <p>Date</p>
                                <h1>Nov 15 2023</h1>
                            </div>
                            <div class="div__infNumber">
                                <p>Time</p>
                                <h1>9:00 PM</h1>
                            </div>
                        </div>
                        <div class="div__infoUser">
                            <div class="div__infName">
                                <p>Gate</p>
                                <h1>Yellow</h1>
                            </div>
                            <div class="div__infNumber">
                                <p>Seat</p>
                                <h1>West B</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="img__codeBarras" src="../storage/img/codeBarras].png">
                <p class="p__bajo">Scan your barcode at the entry gate.</p>
            </div>
        </div>
    </div>    


</body>
</html>